<div>
  <form class="auth-form auth-box_background_color auth-box_text_color login">
    <div class="logo auth-log_visible">

    </div>
    <h4>Sign in</h4>
    <p>Please sign in to access the system.</p>
    <input type="text" class="login-name" placeholder="Username" #username>
    <input type="password" class="login-password" placeholder="Password" #password>
    <button type="submit" class="btn" (click)="auth.login(username.value, password.value)">Sign in</button>
  </form>
  {{auth1.authenticated()}}
  {{auth.authenticated()}}
</div>


  <button class="btn btn-primary btn-margin" (click)="auth1.login()" *ngIf="!auth1.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
