<div class="card">
  <div class="card-header">
    <h4 class="card-title">Version Management</h4>
  </div>
  <div class="card-block">
    <p class="card-text">Use this area of the site to manage the different versions of PB contingency material that are available.</p>
    <div class="row">
    <a routerLink="./new" class="btn btn-primary">Add a new version</a>
        <a routerLink="./list" class="btn btn-info">List all current versions</a>
    </div>

  </div>
</div>
<router-outlet></router-outlet>