<div class="card">
  <div class="card-header">
    <h4 class="card-title">PB Contingency App</h4>
  </div>
  <div class="card-block">
    <p class="card-text">Welcome to the paper based contingency tracking app. Hit up some of the quick links below to get started.</p>
  </div>
  <div class="card-block">
    <a class="card-link" routerLink="/issuances/new">Dish out PB contingency</a>
    <a class="card-link" routerLink="/versions/list">List all current versions of PB material</a>
    <a class="card-link" routerLink="/centres/list">Look up a centre's PB contingency history</a>
  </div>
</div>